<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

	<!-- TITLE -->
	<title>{% block title %}{% endblock title %}</title>

	<!-- STATIC CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->





	{% block stylesheet %}{% endblock stylesheet %}
</head>











<body>
    {% include "includes/navbar.html" %}
    <main >
    	{% block content %}

    	{% endblock content %}
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </main>















    {% block scripts %}
        <!-- Animate.css -->
	    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Icomoon Icon Fonts-->
	    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
        <!-- Themify Icons-->
	    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">

        <!-- Theme style  -->
	    <link rel="stylesheet" href="{% static 'css/style.css' %}">






        <!--===============================================================================================-->
	    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'vendor/animsition/js/animsition.min.js'%}"></script>
        <!--===============================================================================================-->
	    <script src="{% static 'vendor/bootstrap/js/popper.js'%}"></script>
	    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
        <!--===============================================================================================-->
	    <script src="{% static 'vendor/select2/select2.min.js'%}"></script>
        <!--===============================================================================================-->
    	<script src="{% static 'vendor/daterangepicker/moment.min.js'%}"></script>
	    <script src="{% static 'vendor/daterangepicker/daterangepicker.js'%}"></script>
        <!--===============================================================================================-->
	    <script src="{% static 'vendor/countdowntime/countdowntime.js'%}"></script>
        <!--===============================================================================================-->
	    <script src="{% static 'js/main.js'%}"></script>


        <script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/retina.min.js'%}"></script>
        <script src="{% static 'js/jquery.easing.min.js'%}"></script>
        <script src="{% static 'js/wow.min.js'%}"></script>
        <script src="{% static 'js/waypoints.min.js'%}"></script>
        <script src="{% static 'js/jquery.countTo.js'%}"></script>
        <script src="{% static 'js/jquery.mixitup.min.js'%}"></script>
        <script src="{% static 'js/jquery.prettyPhoto.js'%}"></script>
        <script src="{% static 'js/jquery.knob.min.js'%}"></script>
        <script src="{% static 'js/jquery.validate.min.js'%}"></script>
        <script src="{% static 'js/custom.js'%}"></script>
    {% endblock scripts %}
</body>
</html>