
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guest</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/col-wrap.css'%}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->

	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/col-wrap.css'%}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css'%}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css'%}">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="{% static 'css/themify-icons.css'%}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css'%}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/animate.css'%}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css'%}">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="{% static 'css/themify-icons.css'%}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css'%}">

	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js'%}"></script>
    <script src="{% static 'js/jquery.min.js'%}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js'%}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
	<!-- Carousel -->
	<script src="{% static 'js/owl.carousel.min.js'%}"></script>
	<!-- countTo -->
	<script src="{% static 'js/jquery.countTo.js'%}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
	<script src="{% static 'js/magnific-popup-options.js'%}"></script>
	<!-- Main -->
	<script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js'%}"></script>

    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
</head>
<body>

<div>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <div class="row">
                    {% if request.user.is_authenticated %}
                        <div class="p-2">
                            <a href="{% url 'logout' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Đăng xuất</a>
                        </div>
                        <div class="p-2 " style="color:#380e16">
                            Chào <strong>{{request.user.username}}</strong>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Đăng nhập</a>
                    {% endif %}
                <div class="p-2">
                    <a href="{% url 'home' %}" class="btn btn-primary btn-lg active" role="button" >Home</a>
                </div>
            </form>
        </nav>
    </div>
    <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url({% static 'images/img_4.jpg'%})">
        <div class="overlay"></div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-md-6">
        <center>
        <br>
        <br>
            <div class="form-wrap">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="Realtime ">Realtime</a></li>
            </ul>
                <div class="tab-content">
                    <div class="tab-content-inner active" data-content="Infor">
                        <div class="row form-group">
                            <div class="limiter">
                                <img src="{% url 'FaceRec' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
        </div>
        <div class="col-md-4">
            <br>
            <br>
            <br>
            <div class="form-wrap">
                <div class="tab">
                    <ul class="tab-menu">
                        <li class="active gtco-first"><a href="#" data-tab="Data">Data</a></li>
                        <li class="gtco-second"><a href="#" data-tab="History">History</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-content-inner active" data-content="Infor">
                            <div class="row form-group">
                                <table>
                                    <tr>
                                        <th>Company</th>
                                        <th>Contact</th>
                                        <th>Country</th>
                                    </tr>
                                    <tr>
                                        <td>Alfreds Futterkiste</td>
                                        <td>Maria Anders</td>
                                        <td>Germany</td>
                                    </tr>
                                    <tr>
                                        <td>Centro comercial Moctezuma</td>
                                        <td>Francisco Chang</td>
                                        <td>Mexico</td>
                                    </tr>
                                    <tr>
                                        <td>Ernst Handel</td>
                                        <td>Roland Mendel</td>
                                        <td>Austria</td>
                                    </tr>
                                    <tr>
                                        <td>Island Trading</td>
                                        <td>Helen Bennett</td>
                                        <td>UK</td>
                                    </tr>
                                    <tr>
                                        <td>Laughing Bacchus Winecellars</td>
                                        <td>Yoshi Tanamuri</td>
                                        <td>Canada</td>
                                    </tr>
                                    <tr>
                                        <td>Magazzini Alimentari Riuniti</td>
                                        <td>Giovanni Rovelli</td>
                                        <td>Italy</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="tab-content-inner" data-content="History">
                            <form action="#">
                                <div class="row form-group">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </header>
</body>
</html>