
{%  load static %}

{% block title %}

{% endblock title %}

{% block content %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">

    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-theme.min.css'%}" rel="stylesheet">
	<link href="{% static 'css/animate.min.css'%}" rel="stylesheet" >
	<link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet">
	<link href="{% static 'css/prettyPhoto.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">

	<link href="{% static 'css/theme.css'%}" rel="stylesheet">
	<link href="{% static 'css/responsive.css'%}" rel="stylesheet">
	<link href="{% static 'css/colors/blue.css'%}" rel="stylesheet" class="colors">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/animate.css'%}">



	<!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">



<body data-spy="scroll" data-target="#mynav" data-offset="85">

<!-- Preloader -->
<div id="preloader">
	<div id="status">
		<div class="spinner">
			  <div class="rect1"></div>
			  <div class="rect2"></div>
			  <div class="rect3"></div>
			  <div class="rect4"></div>
			  <div class="rect5"></div>
		</div>
	</div>
</div>
<!-- End Preloader -->


<header>

<!-- Bootstrap Menu -->
<div id="navigation">
	<div class="navbar-wrapper">
		<nav class="navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="row">
					<div class="navbar-header">
					</div>
					<div id="mynav" class="navbar-collapse collapse">
						<ul class="nav navbar-nav main-nav-list">
							<li><a href="#home">Home</a></li>
							<li><a href="#team">Team</a></li>
							<li><a href="#works">Works</a></li>
							<li><a href="#contacts">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>
<!-- End Bootstrap Menu -->

<!-- Slider -->
<section id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
			<div class="item active" style="background-image: url({% static 'images/slider/bg-1.jpg'%})"> <!-- Change Image -->
				<div class="caption">
					<h1 class="animated fadeInLeftBig">Welcome to <strong>FACEID</strong></h1>
					<p class="animated fadeInRightBig">Premium Multipurpose Theme</p>
                <form>
                    {% if request.user.is_authenticated %}
                    <div class="p-2">
                        <a href="{% url 'logout' %}" class="learn-more animated fadeInUpBig">Đăng xuất</a>
                    </div>
                    <div class="p-2 " style="color:#380e16">
                        Chào <strong>{{request.user.username}}</strong>
                    </div>
                    <div class="p-2" >
                        <a href="{% url 'quanly' %}" class="learn-more animated fadeInUpBig">Quanly</a>
                    </div>
                    {% else %}
                    <a href="{% url 'login' %}" class="learn-more animated fadeInUpBig" >Login</a>
                    {% endif %}
                </form>
                <br/>
                <form>
                    <div >
                        <a href="{% url 'guest' %}" class="learn-more animated fadeInUpBig" >Guest</a>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider -->

</header>



<!-- Team Section -->
<section class="section-wrapper" id="team">
	<div class="team">
		<!-- Block Title -->
		<div class="meet-the-team">
			<div class="element-title">
				<div class="row">
					<div class="container">
					<div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
						<h1><span>MEET THE TEAM</span></h1>
					</div>
						<h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Our Creative Team</h1>
						<h3 class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">This Is Our <span class="main-color">Team</span></h3>
					</div>
				</div>
			</div>
			<!-- End Block Title -->
			<div class="row">
				<div class="container">
					<div class="wrapper-team">
						<div class="col-lg-4 col-md-4 ">
							<div class="team-member">
								<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="300ms">
									<div class="team-member-image">
										<img src="{% static 'images/team/member-1.jpg'%}" alt="" /> <!-- Change Image -->
										<div class="team-overlay">
											<div class="img-overlay"></div>
										</div>
										<div class="overlay-content">
											<div class="team-member-social-list">
												<a class="team-member-social-list-item" href="#"><i class="fa fa-facebook"></i></a>
												<a class="team-member-social-list-item" href="#"><i class="fa fa-envelope"></i></a>
											</div>
											<a class="view-profile profile-read-more" href="#" data-single_url="profile1.html">Profile</a>
										</div>
									</div>
									<div class="team-member-meta">
										<h4 class="team-member-name"><span class="main-color">C</span>uong <span class="main-color">P</span>ham</h4>
										<div class="team-member-role">Trainer</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="team-member">
								<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="500ms">
									<div class="team-member-image">
										<img src="{% static 'images/team/member-2.jpg'%}" alt="" /> <!-- Change Image -->
										<div class="team-overlay">
											<div class="img-overlay"></div>
										</div>
										<div class="overlay-content">
											<div class="team-member-social-list">
												<a class="team-member-social-list-item" href="#"><i class="fa fa-facebook"></i></a>
												<a class="team-member-social-list-item" href="#"><i class="fa fa-envelope"></i></a>
											</div>
											<a class="view-profile profile-read-more" href="#" data-single_url="profile2.html">Profile</a>
										</div>
									</div>
									<div class="team-member-meta">
										<h4 class="team-member-name"><span class="main-color">T</span>oan <span class="main-color">N</span>guyen</h4>
										<div class="team-member-role">Intern</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="team-member">
								<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="800ms">
									<div class="team-member-image">
										<img src="{% static 'images/team/member-3.jpg'%}" alt="" /> <!-- Change Image -->
										<div class="team-overlay">
											<div class="img-overlay"></div>
										</div>
										<div class="overlay-content">
											<div class="team-member-social-list">
												<a class="team-member-social-list-item" href="#"><i class="fa fa-facebook"></i></a>
												<a class="team-member-social-list-item" href="#"><i class="fa fa-envelope"></i></a>
											</div>
											<a class="view-profile profile-read-more" href="#" data-single_url="profile3.html">Profile</a>
										</div>
									</div>
									<div class="team-member-meta">
										<h4 class="team-member-name"><span class="main-color">D</span>at <span class="main-color">N</span>guyen</h4>
										<div class="team-member-role">Intern</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Profile Team -->
		<div id="team-single-wrap">
			<div id="team-single">
			</div>
		</div>
		<!-- End Profile Team -->
	</div>


</section>
<!-- End Team Section -->


<!-- Works Section -->
<section class="section-wrapper" id="works">
	<div class="works">
		<!-- Block Title -->
		<div class="element-title">
			<div class="row">
				<div class="container">
					<div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
						<h1><span>OUR Works</span></h1>
					</div>
					<h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Our Awesome Portfolio</h1>
					<h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">These Are Our <span class="main-color">Works</span>, Made With <span class="main-color">Love & Passion</span></h3>
				</div>
			</div>
		</div>
		<!-- End Block Title -->
		<div class="row">
			<div class="container-fluid">
				<div class="wrapper-works">
					<div class="portfoliO">
						<ul id="filters" class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
						  <li><span class="filter active" data-filter="all">All</span></li>
						  <li><span class="filter" data-filter=".category-1">IMAGES</span></li>
						  <li><span class="filter" data-filter=".category-2">VIDEO</span></li>
						  <li><span class="filter" data-filter=".category-3">PROJECTS</span></li>
						</ul>
						<div class="portfolio-wrap">
							<div class="myport wow fadeInDown" data-wow-duration="1s" data-wow-delay="600ms">
								<div class="mix category-1 portfolio" data-myorder="1">
									<div class="img-holder">
										<a class="folio-read-more" href="#" data-single_url="portfolio-single-image.html" title="This is the description">
											<img class="" src="{% static 'images/works/work1.jpg'%}" alt="This is the title"> <!-- Change Image -->
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">IMAGE</div>
												<div class="works-overlay-text">Single Image</div>
												<div class="works-overlay-icon"><i class="fa fa-image"></i></div>
											</div>
										</a>
									</div>
								</div>
								<div class="mix category-2 portfolio" data-cat="category-2" data-myorder="2">
									<div class="img-holder">
										<a class="folio-read-more" href="#" data-single_url="portfolio-single-image.html" title="This is the description">
										<img class="" src="{% static 'images/works/work2.jpg'%}" alt="This is the title"> <!-- Change Image -->
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">IMAGE</div>
												<div class="works-overlay-text">Single Image</div>
												<div class="works-overlay-icon"><i class="fa fa-video-camera"></i></div>
											</div>
										</a>
									</div>
								</div>
								<div class="mix category-3 portfolio" data-cat="category-3" data-myorder="3">
									<div class="img-holder">
										<a class="folio-read-more" href="#" data-single_url="portfolio-single-image.html" title="This is the description">
											<img class="" src="{% static 'images/works/work3.jpg'%}" alt="This is the title"> <!-- Change Image -->
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">PROJECT</div>
												<div class="works-overlay-text">Single Image</div>
												<div class="works-overlay-icon"><i class="fa fa-graduation-cap"></i></div>
											</div>
										</a>
									</div>
								</div>

								<div class="mix category-1 portfolio" data-cat="category-1" data-myorder="4">
									<div class="img-holder">
										<a class="folio-read-more" href="#" data-single_url="portfolio-slider.html" title="This is the description">
											<img class="" src="{% static 'images/works/work4.jpg'%}" alt="This is the title"> <!-- Change Image -->
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">IMAGE</div>
												<div class="works-overlay-text">Gallery</div>
												<div class="works-overlay-icon"><i class="fa fa-image"></i></div>
											</div>
										</a>
									</div>
								</div>

								<div class="mix category-2 portfolio" data-cat="category-2" data-myorder="5">
									<div class="img-holder">
										<a class="folio-read-more" href="#" data-single_url="portfolio-slider.html" title="This is the description">
											<img class="" src="{% static 'images/works/work5.jpg'%}" alt="This is the title"> <!-- Change Image -->
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">VIDEO</div>
												<div class="works-overlay-text">Gallery</div>
												<div class="works-overlay-icon"><i class="fa fa-video-camera"></i></div>
											</div>
										</a>
									</div>
								</div>
								<div class="mix category-3 portfolio" data-cat="category-3" data-myorder="6">
									<div class="img-holder">
										<a class="folio-read-more" href="#" data-single_url="portfolio-slider.html" title="This is the description">
											<img class="" src="{% static 'images/works/work6.jpg'%}" alt="This is the title"> <!-- Change Image -->
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">PROJECT</div>
												<div class="works-overlay-text">Gallery</div>
												<div class="works-overlay-icon"><i class="fa fa-graduation-cap"></i></div>
											</div>
										</a>
									</div>
								</div>
								<div class="mix category-1 portfolio" data-cat="category-1" data-myorder="7">
									<div class="img-holder">
										<a class="folio-read-more" href="#" data-single_url="portfolio-video-youtube.html" title="This is the description">
											<img class="" src="{% static 'images/works/work7.jpg'%}" alt="This is the title"> <!-- Change Image -->
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">IMAGE</div>
												<div class="works-overlay-text">Video</div>
												<div class="works-overlay-icon"><i class="fa fa-image"></i></div>
											</div>
										</a>
									</div>
								</div>
								<div class="mix category-2 portfolio" data-cat="category-2" data-myorder="8">
									<div class="img-holder">
										<a class="folio-read-more" href="#" data-single_url="portfolio-video-youtube.html" title="This is the description">
											<img class="" src="{% static 'images/works/work8.jpg'%}" alt="This is the title"> <!-- Change Image -->
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">Video</div>
												<div class="works-overlay-text">Video</div>
												<div class="works-overlay-icon"><i class="fa fa-video-camera"></i></div>
											</div>
										</a>
									</div>
								</div>
								<div class="mix category-3 portfolio" data-cat="category-3" data-myorder="9">
									<div class="img-holder">
										<a class="folio-read-more" href="#" data-single_url="portfolio-video-youtube.html" title="This is the description">
											<img class="" src="{% static 'images/works/work9.jpg'%}" alt="This is the title"> <!-- Change Image -->
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">PROJECT</div>
												<div class="works-overlay-text">Video</div>
												<div class="works-overlay-icon"><i class="fa fa-graduation-cap"></i></div>
											</div>
										</a>
									</div>
								</div>
								<div class="mix category-1 portfolio" data-cat="category-1" data-myorder="10">
									<div class="img-holder">
										<a class="folio-read-more" href="#" data-single_url="portfolio-video-vimeo.html" title="This is the description">
											<img class="" src="{% static 'images/works/work10.jpg'%}" alt="This is the title"> <!-- Change Image -->
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">IMAGE</div>
												<div class="works-overlay-text">Video</div>
												<div class="works-overlay-icon"><i class="fa fa-image"></i></div>
											</div>
										</a>
									</div>
								</div>
								<div class="mix category-2 portfolio" data-cat="category-2" data-myorder="11">
									<div class="img-holder">
										<a class="folio-read-more" href="#" data-single_url="portfolio-video-vimeo.html" title="This is the description">
											<img class="" src="{% static 'images/works/work11.jpg'%}" alt="This is the title"> <!-- Change Image -->
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">Video</div>
												<div class="works-overlay-text">Video</div>
												<div class="works-overlay-icon"><i class="fa fa-video-camera"></i></div>
											</div>
										</a>
									</div>
								</div>
								<div class="mix category-3 portfolio" data-cat="category-3" data-myorder="12">
									<div class="img-holder">
										<a class="folio-read-more" href="#" data-single_url="portfolio-video-vimeo.html" title="This is the description">
											<img class="" src="{% static 'images/works/work12.jpg'%}" alt="This is the title"> <!-- Change Image -->
											<div class="works-overlay">
												<div class="img-overlay"></div>
											</div>
											<div class="overlay-content">
												<div class="works-overlay-category">PROJECT</div>
												<div class="works-overlay-text">Video</div>
												<div class="works-overlay-icon"><i class="fa fa-graduation-cap"></i></div>
											</div>
										</a>
									</div>
								</div>
								<div class="gap"></div>
								<div class="gap"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Single Project -->
		<div id="works-single-wrap">
			<div id="works-single">
			</div>
		</div>
		<!-- End Single Project -->
	</div>


<!-- News Section -->

	<div class="stay-in parallax">
		<!-- Block Title -->
		<div class="overlay">
			<div class="wrapper-block-stay-in">
				<div class="element-title">
					<div class="row">
						<div class="container">
							<h1 class="main-color wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">Stay in Touch</h1>
							<h3 class="white-color wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Lorem Ipsum is simply dummy text of the printing and typesetting</h3>
						</div>
					</div>
				</div>
				<!-- End Block Title -->
				<div class="signup">
					<div class="row">
						<div class="container">
							<div class="sign_form wow fadeInLeft" data-wow-duration="1s" data-wow-delay="300ms">
								<!-- SUBSCRIPTION FORM -->
								<form id="sign-form" method="post" action="#">
									<input type="email" name="email" placeholder="Your E-MAIL Please" class="form-control input-box">
									<input type="submit" value="Sign Up">
									<div id="signup-error"></div>
									<p>Promise we do not spam : )</p>
								</form>
								<!-- / END SUBSCRIPTION FORM -->
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End News Section -->


<!-- Contact Section -->
<section class="section-wrapper" id="contacts">
	<!-- Contacts -->
	<div class="contacts">

		<!-- Block Title -->
		<div class="element-title">
			<div class="row">
				<div class="container">
					<div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
						<h1><span>Contact Us</span></h1>
					</div>
					<h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Contact Our <span class="main-color">Staff </span> to ask to Clarify any doubts</h3>
				</div>
			</div>
		</div>
		<!-- End Block Title -->

		<div class="container">
			<div class="row">
				<div class="wrapper-contacts">
					<div class="contact_form">
						<div class="row">
							<div class="wrapper-contacts-icons">
								<div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="300ms">
									<i class="fa fa-map-marker"></i>
									<div class="">VTI cor</div>
									<div class="">Duy Tan, Cau Giay</div>
								</div>
								<div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="450ms">
									<i class="fa fa-mobile-phone"></i>
									<div class="">Mon - Fri 08:00 21:00</div>
									<div class="">number phone</div>
								</div>
								<div class="col-xs-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="600ms">
									<i class="fa fa-envelope-o"></i>
									<div class="">Feel Free to Email Us</div>
									<div class="">info@mywebsite.com</div>
								</div>

							</div>
						</div>
						<div class="row wow fadeInRight" data-wow-duration="1s" data-wow-delay="800ms">
							<!-- Start contact-form -->
							<form id="contact-form" method="post" action="#">
								<div class="col-lg-6 col-sm-6">
									<div class="form-group">
										<input type="text" name="name" class="form-control" placeholder="Your name">
									</div>
									<div class="form-group">
										<input type="email" name="email" class="form-control" placeholder="Your email address">
									</div>
									<div class="form-group">
										<input type="text" name="subject" class="form-control" placeholder="Subject">
									</div>
								</div>
								<div class="col-lg-6 col-sm-6">
									<div class="form-group">
										<textarea  name="message" class="form-control" placeholder="Your message" rows="8"></textarea>
									</div>
									<div id="output"></div>
									<input type="submit" class="" value="Submit">
								</div>
							</form>
							<!-- End contact-form -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contacts -->

</section>
<!-- End Contact Section -->

<!-- Footer -->
<div class="bottom-footer">
	<div class="container">
		<div class="bottom-footer-center wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">
			<ul class="bottom-social-icons">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- End Footer -->



<!-- Scroll to Top  -->
<a href="#" class="scroll-up"><i class="fa fa-arrow-up"></i></a>
<!-- End Scroll To Top  -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/retina.min.js'%}"></script>
        <script src="{% static 'js/jquery.easing.min.js'%}"></script>
        <script src="{% static 'js/wow.min.js'%}"></script>
        <script src="{% static 'js/waypoints.min.js'%}"></script>
        <script src="{% static 'js/jquery.countTo.js'%}"></script>
        <script src="{% static 'js/jquery.mixitup.min.js'%}"></script>
        <script src="{% static 'js/jquery.prettyPhoto.js'%}"></script>
        <script src="{% static 'js/jquery.knob.min.js'%}"></script>
        <script src="{% static 'js/jquery.validate.min.js'%}"></script>
        <script src="{% static 'js/custom.js'%}"></script>




</body>


{% endblock content %}