{% extends "base.html" %}
{% load static %}
{% block title %}
	Trang chủ
{% endblock title %}

{% block content %}
	<h1>Quan ly</h1>

  <!-- Bootstrap  -->
	    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url({% static 'images/img_4.jpg'%})" >
        <div class="overlay"></div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-md-3">
                <br>
                <br>
                <div class="form-wrap">
                    <div class="tab">
                        <ul class="tab-menu">s
                            <li class="active gtco-first"><a href="#" data-tab="Data">Data</a></li>
                            <li class="gtco-second"><a href="#" data-tab="History">History</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-content-inner active" data-content="Infor">
                                <div class="row form-group">
                                    <table>
                                        <tr>
                                            <th>Company</th>
                                            <th>Contact</th>
                                            <th>Country</th>
                                        </tr>
                                        <tr>
                                            <td>Alfreds Futterkiste</td>
                                            <td>Maria Anders</td>
                                            <td>Germany</td>
                                        </tr>
                                        <tr>
                                            <td>Centro comercial Moctezuma</td>
                                            <td>Francisco Chang</td>
                                            <td>Mexico</td>
                                        </tr>
                                        <tr>
                                            <td>Ernst Handel</td>
                                            <td>Roland Mendel</td>
                                            <td>Austria</td>
                                        </tr>
                                        <tr>
                                            <td>Island Trading</td>
                                            <td>Helen Bennett</td>
                                            <td>UK</td>
                                        </tr>
                                        <tr>
                                            <td>Laughing Bacchus Winecellars</td>
                                            <td>Yoshi Tanamuri</td>
                                            <td>Canada</td>
                                        </tr>
                                        <tr>
                                            <td>Magazzini Alimentari Riuniti</td>
                                            <td>Giovanni Rovelli</td>
                                            <td>Italy</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-content-inner" data-content="History">
                                <form action="#">
                                    <div class="row form-group">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#search">Search</a></li>
                  </ul>
                    <div class="tab-content">
                        <div class="tab-content-inner active" data-content="Search">
                            <div class="row form-group">
                                <div class="limiter">

                                      <form class="form" action="##" method="post" id="registrationForm">
                                          <div class="form-group">
                                              <div class="col-xs-6">
                                                  <label for="Name"><h4>Name</h4></label>
                                                  <input type="text" class="form-control" name="Name" id="Name" placeholder="Name" title="enter your name if any.">
                                              </div>
                                          </div>
                                          <div class="form-group">

                                              <div class="col-xs-6">
                                                <label for="Date"><h4>Date</h4></label>
                                                  <input type="datetime-local" class="form-control">
                                              </div>
                                          </div>

                                          <div class="form-group">

                                              <div class="col-xs-6">
                                                  <label for="ID"><h4>ID</h4></label>
                                                  <input type="text" class="form-control" name="ID" id="ID" placeholder="ID" title="enter your ID if any.">
                                              </div>
                                          </div>
                                          <div class="col-xs-6">
                                              <hr>
                                          <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>>>Go</button>
                                          </div>
                                      </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
            <br>
            <br>
                <div class="form-wrap">
                 <ul class="nav nav-tabs">
                        <li class="active"><a href="#" data-tab="Infor">Infor</a></li>
                 </ul>
                    <div class="tab-content">
                        <div class="tab-content-inner active" data-content="Infor">
                            <div class="row form-group">
                                <div class="limiter">

                            <hr>
                              <form class="form" action="##" method="post" id="registrationForm">
                                  <div class="form-group">
                                      <div class="col-xs-6">
                                          <label for="name"><h4>name</h4></label>
                                          <input type="text" class="form-control" name="name" id="name" placeholder="name" title="enter your name if any.">
                                      </div>
                                  </div>

                                  <div class="form-group">

                                      <div class="col-xs-6">
                                          <label for="Job"><h4>Job</h4></label>
                                          <input type="text" class="form-control" name="Job" id="Job" placeholder="enter Job" title="enter Job if any.">
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <div class="col-xs-6">
                                          <label for="'Birth"><h4>Birth</h4></label>
                                          <input type="datetime-local" class="form-control">
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <div class="col-xs-6">
                                         <label for="mobile"><h4>Mobile</h4></label>
                                          <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                                      </div>
                                  </div>
                                  <div class="form-group">

                                      <div class="col-xs-6">
                                          <label for="email"><h4>Email</h4></label>
                                          <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                                      </div>
                                  </div>
                                  <div class="form-group">

                                      <div class="col-xs-6">
                                          <label for="Adress"><h4>Adress</h4></label>
                                          <input type="Adress" class="form-control" id="Adress" placeholder="somewhere" title="enter a location">
                                      </div>
                                  </div>
                                  <div class="form-group">

                                      <div class="col-xs-6">
                                          <label for="password"><h4>Password</h4></label>
                                          <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                                      </div>
                                  </div>
                                  <div class="form-group">

                                      <div class="col-xs-6">
                                          <label for="ID"><h4>ID </h4></label>
                                          <input type="ID" class="form-control" id="ID" placeholder="ID" title="enter a ID">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                       <div class="col-xs-12">
                                           <br>
                                            <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Confirm</button>
                                            <button class="btn btn-lg icon-repeat btn-light btn-default" type="reset"><i class="glyphicon glyphicon-repeat">Edit</i></button>
                                        </div>
                                  </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="col-md-4">
            <center>
            <br>
            <br>
            <div class="form-wrap">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#Realtime ">Realtime</a></li>
            </ul>
                <img src="{% url 'FaceRec' %}" alt="">
                <div class="tab-content">
                    <div class="tab-content-inner active" data-content="Infor">
                        <div class="row form-group">
                            <div class="limiter">
                                    <div class="tab-content">
                                        <button class="btn  btn-info">Open Door</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </center>
        </div>
    </div>
    </header>
{% endblock content %}