{% extends "base.html" %}
{% load static %}


{% block stylesheet %}

{% endblock stylesheet %}
{% block content %}
     <div class="wrapper">
     <form class="login100-form validate-form" method="post" >

         <span class="login100-form-title p-b-43">
             Login to continue
         </span>

         {% csrf_token %}
         {{form}}

         <div class="flex-sb-m w-full p-t-3 p-b-32">
             <div class="contact100-form-checkbox">
                 <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                 <label class="label-checkbox100" for="ckb1">
                     Remember me
                 </label>
             </div>

         </div>


         <div class="container-login100-form-btn">
             <button class="login100-form-btn" type="submit">
                 Login
             </button>
         </div>
     </form>
     <form class="login100-more" style="background-image: url({% static 'images/img_4.jpg' %})"></form>
  </div>
{% endblock content %}