<nav class="navbar navbar-light bg-light">
    <form class="form-inline">

    <div class="row">

    {% if request.user.is_authenticated %}
        <div class="p-2">
            <a href="{% url 'logout' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Logout</a>
        </div>
        <div class="p-2 " style="color:#380e16">
            Hello, <strong>{{request.user.username}}</strong>
        </div>
        <div class="p-2" >
            <a href="{% url 'quanly' %}" class="btn btn-primary btn-lg active" role="button" >View</a>
        </div>

    {% else %}
      <a href="{% url 'login' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Login</a>
    {% endif %}
    </form>

    <form class="form-inline ">
          <div >
            <a href="{% url 'guest' %}" class="btn btn-primary btn-lg active" role="button" >Guest</a>
          </div>
    </form>
    <form class="form-inline ">
          <div >
            <a href="{% url 'home' %}" class="btn btn-primary btn-lg active" role="button" >Home</a>
          </div>
    </form>
</nav>
